# Problema 1

Usando CoLab y expresiones regulares. Determine los 3 usuarios más populares dentro del dataset. Luego arme un corpus el cual contenga los siguientes elementos por cada usuario seleccionado:
- Content: Tweet.
- Metadata: ID, Timestamp, Length (este valor hay que calcularlo)

In [2]:
from collections import Counter
import pandas as pd
import nltk
import re

In [3]:
tw_source = pd.read_csv("tw_source.csv", header=None, encoding = "ISO-8859-1")

tw_df = pd.DataFrame(tw_source.values, columns=["c1","id","datetime","query","username","tweet"])
tw_df.head()

,c1,id,datetime,query,username,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

### Encontrando usuarios mencionados en los Tweets

In [4]:
users = list()
for tweet in tw_df["tweet"]:
    pattern = "@(\w{1,15})"
    users_match = re.findall(pattern,tweet)
    for user in users_match:
        users.append(user)

### 3 usuarios más populares

In [5]:
popular_users_df = pd.DataFrame(Counter(users).most_common(3), columns=["Usuario","Menciones"] )
popular_users_df

      Usuario  Menciones
0  mileycyrus       4500
1    tommcfly       3887
2    ddlovato       3467

### Corpus de Tweets

Para crear los corpus de los tweets se tomará el primer match donde se mencione a los usuarios populares.

In [7]:
mention_tweet = {}
for user in popular_users_df["Usuario"]:
    for tweet in tw_df["tweet"]:
        match = re.search("@"+user,tweet)
        if match:
            mention_tweet[user] = tweet
            break
            
mention_tweet

{'mileycyrus': '@mileycyrus hahaha dont be like that one time in NY when you got 30 mins of sleep then got sick  love you!!',
 'tommcfly': "@tommcfly hey saw u guys play @ pushover..didn't get 2 meet u tho cuz of th HUGE line  i was very upset ='( lol..a msg would make up 4 it!",
 'ddlovato': '@ddlovato @David_Henrie ummmmm i cant find it. '}